@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/font_module/static/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('/font_module/static/fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
